header {
    display: flex;
    color: white;
    background-color: black;
}

#nology {
    color: white;
    background-color:green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

#links {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    /* width: 200px; */
    /* align-items: center; */
}

.flex {
display: flex;
justify-content: space-between;
}

#rhp {
    border: 2px solid black;
width: 300px;
}
#panels div {
    display: flex;
    border: 2px solid black;
    width: 300px;
    margin: 10px 0px;
}
